app-navbar      {grid-column: 1 / 3 ; grid-row: 1;}

app-sidebar     {
  grid-column: 1 / 2 ; grid-row: 2 / 2;
  height:calc(100vh - 80px);
  padding: 20px 0;
  background-color: var(--mid-purple);}


app-users-panel {
  grid-column: 2 ;
  grid-row: 2;
  height: calc(100vh - 80px);
  width: calc(100vw - 200px);
  overflow: auto;
  padding: 20px;
  background: var(--bg-color);
  position:relative}
