/**************************************************************
Specific css in : - navbar.component.css (ul, li, span & responsive)
                  - sidebar.component.css (a , fa-icon, a:hover, sidebar_btn & responsive (1200px))
 **************************************************************/


/**************************************************************
 *                      FONTS & ROOT                          *
 **************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');

:root {
/* colors */
  --dark-purple     : #51438F;
  --mid-purple      : #6F5CC3;
  --light-purple    : #7D6CC9;
  --w-bg-color      : #FFFFFF;
  --bg-color        : #F8F8F8;
  --grey-color      : #bbbbbb;
  --d-grey-color    : #888888;
  --active-bubble   : #D1EAD2;
  --active-color    : #64a366;
  --inactive-bubble : #F6CFCC;
  --inactive-color  : #d4675d;
  --dark-p-rgb      : 81, 67, 143;
  --mid-p-rgb       : 111, 92, 195;
/* fonts */
  --ft-text   : 'Nunito', sans-serif;
  --font-aw   : 'Helvetica', FontAwesome, sans-serif;
  --ft-title  : 'Antonio', sans-serif;
}



*               { box-sizing: border-box; padding: 0; margin: 0; font-family: var(--ft-text); }
app-navbar      { grid-column: 1 / 3 ; grid-row: 1; background-color: var(--dark-purple); color: white; }
app-sidebar     { grid-column: 1 / 2 ; grid-row: 2 / 2; height:calc(100vh - 5rem); padding: 1.25rem 0; background-color: var(--mid-purple);}
app-users-panel { grid-column: 2 ; grid-row: 2; height: calc(100vh - 5rem); padding: 1.25rem; overflow: auto; background: var(--bg-color);}


/**************************************************************
 *                    APPLICATION STRUCTURE                   *
 **************************************************************/

/* html elements */
table                 { width: 100%;padding:0.6rem 1.2rem; table-layout: fixed }
th                    { padding:0.6rem 0;}
td                    { padding:0.3rem 0;}
button                { padding: 0 0.3rem; }
input[type="search"]  { width: 40%;padding: 0.6rem 0.9rem; }

nav,.nav_logo         { height: 5rem; }
/* classes */
.container { display: -ms-grid;display: grid; grid-template-columns: 10% 90%; grid-template-rows: 5rem 1fr; }

.th_picture, .th_status, .th_action   { width: 6rem; }

.nav_logo           { display: block; }
.nav_notification   { justify-self: end; }
.user_block         { display:flex;justify-content: flex-start;flex-direction: row; }
.user_block *       { display:inline-block;vertical-align: middle; }
.nav_usermenu       { max-width:70%; }

.panel_top                   { display:flex; }

.panel_buttons, .panel_stat  { display:inline-block;vertical-align:top;width:fit-content; padding:0 0.6rem;margin: 0 0 0.6rem 0;}
.panel_stat                  { margin-left: auto }
.panel_stat span             { display:block;}
.panel_buttons button        { width:6.25rem;padding: 0.9rem 0.6rem;position:relative; }

.panel_sub_head              { display: -webkit-box;display: -ms-flexbox;display: -webkit-flex; display:flex; padding:0.6rem; }
.panel_sub_head h2           { padding:0 1.2rem; width: 9rem}
.panel_sub_head .left        { margin-left: auto;padding:0.6rem 1.2rem 0.6rem 0.6rem; }

.user_picture                 { width: 2.4rem;height: 2.4rem; }

.operations          { margin: 0 1em; }
.active, .inactive   { display:block;padding:0.1rem 0.3rem; }
.active, .inactive   { width: 4.8rem; }
.ad_btn_login        { width:3.2rem;padding:0.2rem 0.3rem; }

.filterBox           { padding:0.5rem; margin:0 0 0.5rem 0;}
.filterBox input     { margin: 0 0.2rem 0 0 ; width:0; visibility: hidden}
.filterOn            { display:block; }
.filterOff           { display:none; }
  /* ids */

/* pseudo-elements */
.selected:after              { content: ""; display: block; height: 0.2rem;width: 6.25rem; position: absolute;bottom: 0;left: 0; }
.subhead_btn:not(.left)      { padding: 0.6rem 1.2rem;margin: 0 0.6rem; }
.filterBox label:before      { display:inline-block;content:"";width:0.6rem;height:0.6rem;margin: 0 0.5rem 0 0; }


/* animations  */
@keyframes onSelect {
  from { width: 0 ; left: 3.12rem; }
  to   { width: 6.25rem ; left: 0; }
}

/**************************************************************
 *                      APPLICATION STYLE                     *
 **************************************************************/
/* html elements */
a              { color: white; text-decoration: none;}
li             { list-style: none; }
button         { border:none; }
td             { border-bottom: 0.1rem solid rgba(0,0,0,0.02); }
input[type='search']   { border-radius: 0.18rem;border: none; box-shadow: 0 0 0.12rem rgba(255, 255, 255, 0.4);font: 0.75rem var(--font-aw); }
thead fa-icon          { visibility: hidden;opacity: 0;transition: all 0.3s ease; }

table, .panel_buttons       { border-spacing: 0;border-radius: 0.3rem;background-color: var(--w-bg-color);box-shadow: 0 0 0.3rem rgba(150,150,150,0.2);font-size:0.75rem; }
thead, thead a, .panel_stat { color:var(--grey-color);font: 0.87rem var(--ft-text); }
thead, thead a              { text-align: left; font-weight: bold; }

/* classes */
.nav_logo             { font: 2.5rem var(--ft-title);text-align: center; }
.nav_btn_notification,.nav_btn_usermenu { border: none; background-color: transparent; text-align: center; font-size: 1rem; color: white; }

.panel_stat           { text-align: right;}
.panel_stat b         { color:var(--d-grey-color); }
.panel_buttons button { background-color: transparent;}
.selected             { font-weight: bold; }

.subhead_btn          { border-radius: 0.3rem;font-weight: bold;}
.btn_white            { background-color: var(--w-bg-color);border:0.06rem solid rgba(var(--dark-p-rgb),0.4); }
.btn_purple           { background-color: var(--mid-purple);border:0.06rem solid rgba(var(--dark-p-rgb),0.8);color: var(--w-bg-color); }
.left                 { font-weight: normal; }
.subhead_btn fa-icon  { float:left;margin: 0.12rem 0.9rem 0 0;font-size: 0.68rem;}

.td_centered          { text-align: center; }
.user_picture         { object-fit: cover;-o-object-fit:cover;border-radius: 0.3rem; }
.operations           { color: var(--light-purple);font-size: 0.9rem; }
.active, .inactive    { border-radius: 0.8rem;text-transform: capitalize;font-weight: bold; }
.active               { background-color: var(--active-bubble); color: var(--active-color); }
.inactive             { background-color: var(--inactive-bubble); color: var(--inactive-color); }
.ad_btn_login         { background-color: var(--mid-purple);border-radius: 0.3rem;text-align: center;font: 0.68rem var(--ft-text);color:var(--w-bg-color); }


.filterBox            {color:var(--w-bg-color); background-color: var(--light-purple);border-radius: 0.3rem;}
/* ids */

/* pseudo-elements */
h5:before                       { content:"⏤⏤ " }
thead a:hover fa-icon           { visibility:visible;opacity:0.8;transition: opacity 0.3s ease; }
nav input::placeholder          { color: lightgrey;}
button:focus                    { box-shadow: 0 0 0.12rem rgba(255, 255, 255, 0.5);}
a:hover, button:hover           { cursor: pointer;}
.selected:after                 { background: var(--mid-purple); animation: onSelect 0.2s linear; }
.filterBox label:before         { border:0.06rem solid;border-radius: 100% ; }
.filterBox input:checked ~ label:before { box-shadow:inset 0 0 0 0.2rem var(--light-purple), inset 0 0 0 0.3rem var(--w-bg-color)}


/**************************************************************
 *                      GENERAL RESPONSIVE                    *
 **************************************************************/
@media (max-width: 1200px) {
  app-sidebar     { position:relative; }
  .container      { display: flex;flex-direction: column; }
  app-navbar      { height:4%; position:relative; z-index:50}
  app-sidebar     { height:auto;padding:0; }
  app-users-panel { overflow: unset; }
  .panel_top      { margin: 2.5rem 0 0 0  }
  td              {overflow: auto}

}


@media (max-width: 767px) {
  /* general*/

  /* user table */
  table         { order:3; }
  th            { text-align: center; }
  td            { padding:0 0.2rem; }
  .small_res    { display:none; }
  table, .panel_sub_head, .panel_top { margin: 1rem 0; }
  /* menu before table */
  .panel_sub_head, .panel_top   { flex-direction: column;align-items: center; }
  .panel_sub_head               { order:1; }
  .panel_top                    { order:2; }
  .panel_stat                   { margin:unset; }
  .panel_sub_head h2            { margin:auto; }
  .panel_sub_head .subhead_btn  { margin: 0.2rem 0.6rem;font-weight: bold;width: 70%; }
  .panel_sub_head fa-icon       { display:none; }
  .panel_stat span              { display:  unset; }
  .panel_stat span~span:before  { content:" | "; }
}



@media (max-width: 400px) {
  table                 { padding:0.3rem 0.5rem; }
  thead, thead a        { font-size: 0.7rem; }
  .ad_btn_login         { width:100%; }
  .active, .inactive    { max-width: 60%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
}


@media (max-width: 280px)
{
  table               { padding:0.3rem 0.3rem; }
  .active, .inactive  { color:transparent;border-radius: 100%;width:0.5rem;height:0.5rem; padding:0; }
  .active             { background-color: var(--active-color); }
  .inactive           { background-color: var(--inactive-color); }
  .ad_btn_login       { padding: 0.2rem; }
}
