/**************************************************************
                  *     SIDEBAR SPE CSS         *             *
***************************************************************/
a       { display:block; padding:0.6rem 1.2rem; border-left: 3px solid transparent; }
fa-icon { display:inline-block; width:20px; margin: 0 10px 0 0; font-size: 14px; text-align: center;}
a:hover { background-color: var(--light-purple); border-left:3px solid white;}
.sidebar_btn        {display:none;}


/**************************************************************
                       SIDEBAR RESPONSIVE                     *
***************************************************************/


@media (max-width: 400px)
{
  ul {
    background:red;
  }

  .sidebar_btn  {
    display:block;
    position:absolute;
    bottom:0;
  }
}
