a {
  display:block;
  padding:10px 30px;
  border-left: 3px solid transparent;
}

fa-icon
{
  display:inline-block;
  width:20px;
  margin: 0 10px 0 0;
  font-size: 14px;
  text-align: center;

}

a:hover {
  background-color: var(--light-purple);
  border-left:3px solid white;
}
