<div class="sidebar">
  <ul>
    <li><a href="#"><fa-icon [icon]="faUser"></fa-icon>Profile</a></li>
    <li><a href="#"><fa-icon [icon]="faUsers"></fa-icon>Users</a></li>
    <li><a href="#"><fa-icon [icon]="faControlP"></fa-icon>Control panel</a></li>
    <li><a href="#"><fa-icon [icon]="faProjets"></fa-icon>Projects</a></li>
    <li><a href="#"><fa-icon [icon]="faFolder"></fa-icon>Tasks</a></li>
    <li><a href="#"><fa-icon [icon]="faLogs"></fa-icon>Logs</a></li>
    <li><a href="#"><fa-icon [icon]="faGroupChat"></fa-icon>Group chats</a></li>
    <li><a href="#"><fa-icon [icon]="faReports"></fa-icon>Reports</a></li>
  </ul>
</div>
